body {
  display: grid;
  font-family: sans-serif;
  width: auto;
  padding: 1em;
}

.calendar {
  display: inline-block;
  vertical-align: top;
  width: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 5px;
}

.calendar-header {
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  margin: 5px;
}

.calendar-day {
  text-align: center;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.calendar-day.weekday-header {
  font-weight: bold;
}

.calendar-day.today {
  background-color: lightblue;
}

.submitButton {
  margin: auto;
  width: 50%;
}

.listButton {
  margin: auto;
  width: 50%;
}

.textInput {
  margin: 1rem;
}

.title {
  text-align: center;
}

.list {
  margin: 1rem;
}

#sampleList {
  display: none; /* This line hides the list initially */
}

/* If you use the class toggle method, add the following as well */
.hidden {
  display: none;
}
